* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url("../images/index.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

#container {
    width: 50%;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

img {
    width: 60%;
    margin: 10px auto;
    border-radius: 10px;
}

#Menu {
    display: inline-block;
    margin: 10px auto;
    text-align: center;
}

.btn {
    width: 120px auto;
    margin: 10px;
    padding: 5px;
    border: 3px solid white;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
    cursor: pointer;
}

#canvas {
    display: none;
    margin: 10px auto;
}

#titulo {
    width: 80%;
    height: 50px;
    margin: 20px auto;
}

#mostrarInstrucciones {
    width: 80%;
    border-radius: 5px;
    display: none;
    margin: 50px;
    margin-left: 120px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

#mostrarInstrucciones img {
    width: 40%;
}

#inicio {
    height: 10%;
    width: 30%;
    margin: 20px;
}